@model IEnumerable<BigShool.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BigShool.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    var systemFind = System.Web.HttpContext.Current.GetOwinContext()
                .GetUserManager<ApplicationUserManager>();
}
<a class="btn btn-info" style="margin:16px 0;" href="@Url.Action("Create","Course")">Create</a>
<div class="row" style="margin:16px 0;">
    <ul class="course">
        @foreach (var item in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="detail">
                    <span class="lecture">
                        @systemFind.FindById(item.LecturerId).Name
                    </span>
                    <span class="category">
                        @item.Category.Name
                        <div class="action">
                            <a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                    </span>
                </div>
         
            </li>
        }
    </ul>
</div>
@*test*@